*{
    font-family:Helvetica , Arial, sans-serif ;
    text-align:center;
}

h2 {
    text-align:left;
}

body{
    padding:60px;
}

card-grid {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tarjeta {
    flex-direction: row;
    align-items: center;
    display: block;
    align-content: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card p {
    text-align:center;
    padding: 5px;
}

.card img {
    max-height:2500px;
}